* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'digital-7';
  src: url(digital-7/digital-7\ \(mono\).ttf);
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 510px;
  background-color: #3f3f42;
  padding: 1px;
  margin: 0 auto;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
}

.button {
  flex: 1;
  height: 70px;
  margin: 1px;
  padding: 20px;
  background-color: #81818b;
  border: 2px solid #81818b;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}

.active {
   background-color: #ad0a30;
}

.function {
  background-color: #2a2a2e;
  border: 2px solid #2a2a2e;
}

.clear {
  background-color: #ad0a30;
  border: 2px solid #ad0a30;
}

.display {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  font-family: digital-7;
  font-size: 60px;
  
  height: 100px;
  padding: 20px;
  margin: 1px;
  border: #6a6e75 10px solid;
  border-radius: 5px;
  background-color: #d3e1e3;
}

#zero {
  flex: 0 1 50%;
}
